body {
    background-image: url('../img/form_bg_1920.svg');
    background-repeat: no-repeat;
    background-position: center top;
}

.application {
    background: url('../img/form_bg1-1920.png') top 207px left calc(50% + 730px) / auto no-repeat,
        url('../img/form_bg2-1920.png') top 918px left calc(50% + 603px) / auto auto no-repeat,
        url('../img/form_bg3-1920.png') bottom 20px left calc(50% + 374px) / auto auto no-repeat;
    padding-top: 112px;
}

.form__back {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--color-primary-white);
    border-radius: 80px;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    width: 224px;
    text-decoration: none;
    color: var(--color-primary-white);
    transition: 0.1s all;
    cursor: var(--cursor);
}

.form__title {
    margin: 40px 0;
    line-height: 56px;
}

.form {
    max-width: 925px;
}

.form__section-title {
    letter-spacing: 0.14px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 48px;
}

.form__section-title:first-child {
    margin-top: 0 !important;
}

.form__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: var(--content-wrap-mt);
}

.form__input {
    display: block;
    background: rgba(16, 16, 16, 1);
    height: 64px;
    width: 100%;
    border: 1px solid rgba(16, 16, 16, 1);
    border-radius: 12px;
    padding: 0 24px;
    color: var(--color-primary-white);
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    transition: 0.1s all;
    outline: none;
}

.form__input::placeholder {
    color: #9D96A6;
    font-weight: 400;
    font-size: 18px;
}

.form__input-error {
    border-color: var(--color-error);
    color: var(--color-error) !important;
}

.form__input-error::placeholder {
    color: var(--color-error);
}

.form__info {
    margin-top: 4px;
    display: block;
    color: #8E8E9D;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    max-width: 520px;
}

.form__error {
    display: none;
    margin-top: 4px;
    color: var(--color-error);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.form__error-show {
    display: block;
}

.form__radio-btns {
    display: flex;
    gap: 32px;
}

.form__label {
    letter-spacing: 0.12px;
    margin-top: 16px;
    font-size: 24px;
    line-height: 32px;
}

.form__label-format {
    max-width: 530px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: var(--cursor);
}

.radio__input {
    display: none;
}

.radio__custom {
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 1px solid #D4D3D9;
    transition: 0.1s all;
}

.radio__custom::before {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-dark-green);
}

.radio__input:checked+.radio__custom {
    border-color: var(--color-dark-green);
}

.radio__input:checked+.radio__custom::before {
    display: block;
}

.radio__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--color-primary-white);
}

.select_alternative {
    display: none;
    margin-top: 16px;
}

.select_alternative.is-active {
    display: block;
}

.select__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: var(--cursor);
    color: #9D96A6;
}

.select__header-active:not(.form__input-error, .select__search) {
    border-color: rgba(102, 60, 211, 1);
    color: var(--color-primary-white);
}

.select__header-active .select__search::placeholder {
    color: var(--color-primary-white);
}

.select__header-active .select__arrow {
    transform: rotate(180deg);
}

.select__header--choose {
    color: var(--color-primary-white);
}

.select__dropdown {
    display: none;
    padding: 16px;
    margin-top: 4px;
    background: #101010;
    box-shadow: 0px 0px 32px 0px #9693A329;
    border-radius: 16px;
    max-height: 296px;
    overflow-y: hidden;
}

/* Для WebKit (Chrome, Safari) */
.select__list::-webkit-scrollbar {
    width: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-green);
    background-clip: padding-box;
    border-radius: 40px;
}

.select__list::-webkit-scrollbar-track {
    background-color: transparent;
}

.select__dropdown-active {
    display: block;
}

.select__list {
    list-style-type: none;
}

.select__item {
    padding: 0 16px;
    display: flex;
    align-items: center;
    min-height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary-white);
    border-radius: 8px;
    transition: 0.1s all;
    cursor: var(--cursor);
}

.select__item-noactive {
    display: none;
}

.select__search {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

.select__search-error::placeholder {
    color: var(--color-error);
}

.form__submit {
    width: 240px;
    padding: 19px 0;
}

.form__btns {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

.file-upload {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: var(--cursor);
    transition: 0.1s all;
    width: 100%;
    height: 90px;
    border: 1px dashed #F4F4F4;
    border-radius: 12px;
}

.file-upload__input {
    display: none;
}

.file-upload--error {
    border-color: var(--color-error);
}

.file--select {
    display: none;
}

.file-upload--select {
    border: 1px solid #663CD3;
    background: #101010;
}

file--no_select {
    display: block;
}

.file-upload--select .file--select {
    display: block;
}

.file-upload--select .file--no_select {
    display: none;
}

.file-upload__content {
    display: flex;
    flex-direction: column;
}

.file-upload__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-primary-white);
}

.file-upload__info {
    color: #8E8E9D;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.form__agreement {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
}

.checkbox {
    display: flex;
    cursor: pointer;
    gap: 12px;
    user-select: none;
}

.checkbox__input {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.checkbox__custom {
    flex-shrink: 0;
    width: 24px;
    height: 26px;
    border: 1px solid var(--Control-control-border-primary-default, #D4D3D9);
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
}

.checkbox__input:checked+.checkbox__custom {
    background-color: var(--color-dark-green);
    border-color: var(--color-dark-green);
}

.checkbox__input:checked+.checkbox__custom::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox__text {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary-white);
}

.checkbox__link {
    color: var(--color-primary-white);
}

.checkbox__link:hover {
    text-decoration-color: var(--color-white);
}

.form__back_direction {
    width: 240px;
}

.footer__logos {
    margin-top: 30px;
}

@media (pointer: fine) {

    .form__input:not(.form__input-error, .select__search):hover,
    .form__input:not(.form__input-error, .select__header, .select__search):focus {
        border-color: rgba(102, 60, 211, 1);
    }

    .select__item:hover {
        background-color: #212121;
    }

    .file-upload:not(.file-upload--select):hover {
        background: #212121;
        border-color: #6E6E6E;
    }

    .radio:hover .radio__custom {
        border-color: var(--color-primary-green);
    }

    .form__back:hover {
        color: var(--color-primary-green);
        border-color: var(--color-primary-green);
    }

    .form__back:hover .form__back-icon path {
        fill: var(--color-primary-green);
    }

    .form__back:active {
        color: var(--color-dark-green);
        border-color: var(--color-dark-green);
    }

    .form__back:active .form__back-icon path {
        fill: var(--color-dark-green);
    }
}

@media (max-width: 1919px) {
    body {
        background-image: url(../img/form_bg_1280.png);
        background-repeat: no-repeat;
        background-position: center top;
    }

    .application {
        background: url('../img/form_bg1-1280.png') top 207px left calc(50% + 530px) / auto no-repeat,
            url('../img/form_bg2-1280.png') top 929px left calc(50% + 528px) / auto auto no-repeat,
            url('../img/form_bg3-1280.png') bottom 19px left calc(50% + 339px) / auto auto no-repeat;
    }

    .header__list,
    .header__navigation {
        gap: 21px;
    }

    /* .header__logo-group {
        height: 35px;
    }

    .header__logo:nth-child(2) {
        height: 29px;
        width: 87px;
        margin-bottom: 0;
        margin-left: -2px;
    } */

    .form {
        max-width: 900px;
    }

    .form__back:not(.form__back_direction) {
        height: 48px;
        width: 195px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.05px;
        padding-right: 8px;
    }

    .form__title {
        margin: 32px 0;
        line-height: 48px;
    }

    .form__section-title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .form__input {
        height: 56px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 16px;
    }

    .form__input::placeholder {
        font-size: 16px;
        line-height: 16px;
    }

    .form__label {
        margin-top: 0;
        font-size: 20px;
        line-height: 24px;
    }

    .radio__text {
        font-size: 16px;
        line-height: 24px;
    }

    .form__section-title.title--color-primary {
        margin-top: 32px;
    }

    .select__current {
        font-size: 16px;
        line-height: 16px;
        text-align: left;
    }

    .form__input:has(.select__search) {
        padding: 0 24px;
    }

    .file-upload {
        margin-top: 0;
    }

    .form__label-internship {
        margin-top: 8px;
        letter-spacing: 0.3px;
    }

    .form__label-format {
        max-width: 590px;
    }

    .form__info {
        max-width: 530px;
    }

    .form__agreement {
        margin-top: 38px;
    }

    .footer {
        margin-top: var(--section-spacing);
    }

    .footer__logos {
        margin-top: 51px;
    }

    .select__item {
        padding: 8px 12px;
        font-size: 16px;
        line-height: 24px;
        min-height: 40px;
    }

    .select__dropdown {
        max-height: 192px;
    }

    .select__list {
        display: block;
        max-height: 160px;
        overflow-y: auto;
    }
}

@media (max-width: 1279px) {
    body {
        background-image: url(../img/form_bg-360.png);
    }

    .header {
        background-image: url(../img/form_bg-360.png);
        background-repeat: no-repeat;
        background-position: center top;
    }

    .header::before {
        background-image: url(../img/form_bg-360.png);
    }

    .header__logo:nth-child(2) {
        height: 33px;
    }

    .application {
        padding-top: 84px;
        background: none;
    }

    .form {
        max-width: 100%;
    }

    .form__back:not(.form__back_direction) {
        height: 40px;
        width: 169px;
        gap: 4px;
        font-size: 14px;
        line-height: 14px;
        padding-right: 9px;
    }

    .form__title {
        margin: 24px 0;
        line-height: 32px;
        max-width: 200px;
    }

    .form__section-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .form__section {
        margin-top: 16px;
    }

    .form__input::placeholder,
    .select__current {
        font-size: 14px;
        line-height: 14px;
    }

    .radio__text {
        font-size: 14px;
        line-height: 20px;
    }

    .form__label {
        font-size: 18px;
        line-height: 22px;
    }

    .file-upload__title {
        font-size: 16px;
        line-height: 20px;
    }

    .file-upload__info {
        margin-top: 2px;
        font-size: 16px;
        line-height: 16px;
    }

    .file-upload {
        height: 88px;
    }

    .form__radio-btns#alternative {
        gap: 16px;
    }

    .form__radio-btns#remote_work {
        flex-direction: column;
        gap: 16px;
    }

    .form__label-internship {
        letter-spacing: 0.08px;
    }

    .select__header#final {
        height: 64px;
    }

    .form__agreement {
        margin-top: 26px;
    }

    .form__btns {
        margin-top: 24px;
        flex-direction: column;
    }

    .form__submit {
        width: 100%;
    }

    .form__back_direction {
        width: 100%;
    }

    .footer__logos {
        margin-top: 22px;
    }

    .footer__social {
        gap: 20px;
    }

    .footer__logo:nth-child(2) {
        margin-top: 2px;
    }
}